:root {
  --primary: #95c240;
  --secondary: #010081;
  --white: #ffffff;
  --darkwhite: #eeeeee;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
}

img {
  object-fit: contain;
  max-width: 100%;
}

a {
  color: var(--darkwhite);
}

a:hover {
  color: var(--darkwhite);
  text-decoration: none;
}

ul li {
  list-style: none;
}

footer {
  color: var(--darkwhite) !important;
}

.section {
  padding: 0;
}

.section__all {
  padding: 100px 0;
}

.section__small {
  padding: 50px 0;
}

.section__heading {
  font-size: 48px;
  font-weight: bold;
  color: var(--black);
}

.section__subHeading {
  font-size: 32px;
  font-weight: normal;
  color: var(--black);
}

@media (max-width: 768px) {
  .section__heading {
    font-size: 38px;
  }

  .section__subHeading {
    font-size: 22px;
  }
}

.section__heading.darkwhite,
.section__subHeading.darkwhite {
  color: #eeeeee;
}

.bg__primary {
  background-color: var(--primary);
}

.bg__secondary {
  background-color: var(--secondary);
}

.bg__darkWhite {
  background-color: var(--darkwhite);
}

.btn__small {
  font-size: 20px;
  padding: 5px 15px;
  min-width: 100px;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  color: var(--darkwhite);
  background-color: var(--primary);
}

.btn__small--nav {
  font-size: 18px;
  padding: 5px 15px;
  max-width: 160px;
  text-align: center;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  color: var(--darkwhite);
  background-color: var(--primary);
}

.btn__large {
  font-size: 20px;
  padding: 5px 20px;
  min-width: 150px;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  color: var(--darkwhite);
  background-color: var(--primary);
}

.btn__large--outline {
  font-size: 20px;
  padding: 5px 20px;
  min-width: 150px;
  border: 3px solid var(--darkwhite);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: var(--darkwhite);
  background-color: transparent;
}

.btn__small:hover,
.btn__large:hover,
.btn__large--outline:hover {
  color: var(--darkwhite) !important;
  background-color: var(--secondary);
  cursor: pointer;
}

/* Navbar Section */

.nav__fixer {
  height: 84px;
}

.nav-link {
  font-size: 18px !important;
}

.social__media--nav {
  height: 28px;
  width: 28px;
  border: 2px solid var(--darkwhite);
  padding: 2px;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__button {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 993px) {
  .social__media {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .section__navbar {
    padding: 0.5rem 3rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px){
  .nav-link{
    padding-right: 0rem !important;
  }
}

/* Hero Slider */

/* About Us / Case Studies*/

.about__left,
.case__right {
  padding: 0;
  width: 100%;
}

.case__right {
  background-color: var(--secondary);
  padding: 20px;
}

.about__right,
.case__left {
  background-color: var(--darkwhite);
}

.about__right > div,
.case__left > div {
  margin: auto 0;
  max-width: 560px;
  padding: 50px 15px;
}

.about__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section__description a {
  color: var(--primary);
  text-decoration: underline;
}

.section__description a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

#case__slider .case__item img {
  display: block;
  width: 100%;
  height: 400px;
}

.case__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkwhite);
  font-size: 38px;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .about__right > div,
  .case__left > div {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }

  .case__heading {
    margin-top: 0;
  }
}

/* Our Services */

.section__service .section__subHeading {
  margin-bottom: 50px;
}

.service {
  display: flex;
  justify-content: space-between;
}

.service__icon {
  height: 120px;
  width: 120px;
  padding: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkwhite);
  border: 8px solid var(--primary);
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.3);
}

.service__icon .fa {
  padding: 30px;
  color: var(--primary);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__heading {
  color: var(--darkwhite);
  font-size: 28px;
  font-weight: bold;
}

.service__body {
  color: var(--darkwhite);
  font-size: 16px;
}

.service__details {
  margin-left: 10px;
}

/* Client Review / Owl Section */

.owl-stage-outer {
  margin-bottom: 50px !important;
}

.owl-item.active.center > div .client__card {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.client__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  margin: 0 10px;
  border: 1px solid rgba(238, 238, 238, 1);
  opacity: 0.2;
}

.card__avatar {
  height: 100px;
  width: 100px;
}

.card__photo {
  border-radius: 50%;
}

.card__rating .checked {
  color: orange;
}

.card__details {
  padding: 15px 0;
}

.card__description {
  min-height: 150px;
}

.client__name {
  position: relative;
  top: -15px;
  text-align: center;
}

/* Client logo Section */
.section__client .section__subHeading {
  margin-bottom: 60px;
}

.client__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.client__img {
  background-color: var(--white);
  height: 100px;
  width: 167px;
  padding: 10px;
}

/* Main page Contact Section */
.contact__heading {
  font-size: 28px;
  font-weight: normal;
  color: var(--darkwhite);
}

@media (max-width: 768px) {
  .contact__heading {
    margin-bottom: 50px;
  }
}

/* Footer Section */

.section__footer {
  padding-bottom: 10px !important;
}

.list__item.heading {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
}

.list__item {
  line-height: 2.5;
}

.list__item p {
  line-height: 1.5;
}

.list__link {
  color: rgba(238, 238, 238, 0.5);
  font-size: 14px;
}

/* Copyright */

.copyright__description {
  font-size: 14px;
}

.copyright__description a {
  color: var(--darkwhite);
}

.copyright__description a:hover {
  color: var(--primary);
}

.social__link {
  color: var(--darkwhite);
}

.social__link:hover {
  color: var(--primary);
}

.social__link .fa {
  font-size: 20px;
}

@media (max-width: 375px) {
  .padding__fixer {
    padding-left: 0 !important;
  }
}
